.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0 16px;
  .icon{
    width: 80px;
    height: 80px;
  }
  .appName{
    color: var(--app-name-text);
    font-size: 32px;
    font-weight: bold;
  }
}

.navIcon{
  width: 30px;
  height: 30px;
}